.sidebar {
    width: 25%;
    float: left;
    height: 100vh;
    background: black;
    color: black;
    padding: 20px;
  }
  
  .linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .linkItem {
    margin-bottom: 10px;
  }
  
  .link {
    text-decoration: none;
    color: white;
    display: block;
  }
  